.cpt-table {
  width: 100%;
  border-spacing: 5px;
  text-align: left;

  &,
  & th,
  & td {
    border: 1px solid #ccc;
    border-collapse: collapse;
    padding: 10px;
  }

  & th {
    background-color: #f5f5f5;
  }

  & .edit-cpt,
  & .delete-cpt {
    cursor: pointer;
    &:hover {
      color: $on;
    }
  }

}

.text-center {
  text-align: center;
}
.green {
  color: limegreen;
}
.red {
  color: red;
}
.inline-block {
  display: inline-block;
}