.nav-tabs {
  height: 28px;
  float: left;
  width: 80%;
  margin: 0;
  list-style-type: none;
  border-bottom: 1px solid #ddd;
}

a {
  text-decoration: none;
}

.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}

.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.5;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}

.nav-tabs > li > a:hover {
  border-color: #eee #eee #ddd;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.tab-content {
  width: 80%;
  float: left;
  background-color: transparent;
}

.tab-content > .tab-pane {
  float: left;
  width: 100%;
  display: none;
}

.tab-content > .tab-pane.active {
  display: block;
  padding: 10px;
  background-color: #fff;
  border-radius: 0px 10px 10px 10px;
  box-shadow: 0 1px 4px -2px rgba(0, 0, 0, .15);
}

.wrap > h1 {
  margin-bottom: 10px;
}